.feature-right {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    padding: 2em;
}

.feature-right img {
    grid-column: 1/2;
}

.feature-right div {
    grid-column: 2/3;
}

p {
    text-align: justify;
}